-- Tabela de salas
CREATE TABLE rooms (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  host_id UUID REFERENCES auth.users(id),
  name TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  points_to_win INTEGER DEFAULT 100,
  difficulty TEXT DEFAULT 'Médio',
  game_mode TEXT DEFAULT 'Padrão (Erro = Próximo Jogador)',
  status TEXT DEFAULT 'waiting' CHECK (status IN ('waiting', 'playing', 'finished')),
  current_player_index INTEGER DEFAULT 0,
  current_question JSONB
);

-- Tabela de jogadores em salas
CREATE TABLE room_players (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  room_id UUID REFERENCES rooms(id) ON DELETE CASCADE,
  user_id UUID REFERENCES auth.users(id),
  name TEXT NOT NULL,
  avatar TEXT,
  score INTEGER DEFAULT 0,
  errors INTEGER DEFAULT 0,
  joined_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Tabela de estado do jogo (guessed_letters, etc)
CREATE TABLE game_state (
  room_id UUID PRIMARY KEY REFERENCES rooms(id) ON DELETE CASCADE,
  guessed_letters JSONB DEFAULT '[]',
  wrong_letters JSONB DEFAULT '[]',
  time_left INTEGER DEFAULT 60,
  game_over BOOLEAN DEFAULT false,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Função para atualizar o timestamp sempre que o estado do jogo mudar
CREATE OR REPLACE FUNCTION update_game_state_timestamp()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER update_game_state_timestamp
BEFORE UPDATE ON game_state
FOR EACH ROW
EXECUTE FUNCTION update_game_state_timestamp();

-- Políticas de segurança para acesso às tabelas
ALTER TABLE rooms ENABLE ROW LEVEL SECURITY;
ALTER TABLE room_players ENABLE ROW LEVEL SECURITY;
ALTER TABLE game_state ENABLE ROW LEVEL SECURITY;

-- Políticas para salas
CREATE POLICY "Qualquer um pode ver salas disponíveis" 
ON rooms FOR SELECT USING (status = 'waiting');

CREATE POLICY "Jogadores podem ver suas salas" 
ON rooms FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM room_players 
    WHERE room_players.room_id = rooms.id 
    AND room_players.user_id = auth.uid()
  )
);

CREATE POLICY "Hosts podem criar salas" 
ON rooms FOR INSERT WITH CHECK (host_id = auth.uid());

CREATE POLICY "Hosts podem atualizar suas salas" 
ON rooms FOR UPDATE USING (host_id = auth.uid());

CREATE POLICY "Hosts podem deletar suas salas" 
ON rooms FOR DELETE USING (host_id = auth.uid());

-- Políticas para jogadores
CREATE POLICY "Usuários autenticados podem inserir jogadores" 
ON room_players FOR INSERT WITH CHECK (user_id = auth.uid());

CREATE POLICY "Jogadores podem ver jogadores na mesma sala" 
ON room_players FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM room_players as rp 
    WHERE rp.room_id = room_players.room_id 
    AND rp.user_id = auth.uid()
  )
);

CREATE POLICY "Jogadores podem atualizar seus próprios dados" 
ON room_players FOR UPDATE USING (user_id = auth.uid());

CREATE POLICY "Jogadores podem remover-se de salas" 
ON room_players FOR DELETE USING (user_id = auth.uid());

-- Políticas para estado do jogo
CREATE POLICY "Jogadores podem ver estado do jogo de suas salas" 
ON game_state FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM room_players 
    WHERE room_players.room_id = game_state.room_id 
    AND room_players.user_id = auth.uid()
  )
);

CREATE POLICY "Jogadores podem atualizar estado do jogo de suas salas" 
ON game_state FOR UPDATE USING (
  EXISTS (
    SELECT 1 FROM room_players 
    WHERE room_players.room_id = game_state.room_id 
    AND room_players.user_id = auth.uid()
  )
);